html,
body{
    text-decoration:none;
    margin:0;
    padding:0;
    box-sizing:border-box;
    top:0;
    left:0;
    background: linear-gradient(to right, #DAD2D5, #DAD2D5,#ECE2D3, #ECE2D3);
    height: 100%;
    font-family: 'Roboto Flex', sans-serif;  
    font-size: 16px;
    font-weight: 400;
    color:#3c081d;
    line-height:25px;
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
    display: none;
  }

h1{
    margin:auto;
    padding: auto;
    font-size:30px;
    font-weight:200;
    letter-spacing: -1px;
}

#titleContainer{

    margin: auto;
    padding: auto;
    width: 50%;
    height: auto;
    background-color: none;
    padding:5%;
    margin-top: 10%;
}

#container{
    margin:auto;
    padding:auto;
    width:50%;
    height: auto;
    background:rgb(207, 204, 204);
    padding:4% 6% 4% 4%;
    border-radius: 30px;

}

#username{
    border-radius: 50px;
    border: none;
    line-height: 20px;
}

#password{
    border-radius: 50px;
    border: none;
    line-height: 20px;
}


#login{
    padding: 2% 3% 2% 3%;
    border-radius: 50px;
    border-color: transparent;
    font-family: 'Roboto Flex', sans-serif;
    color:white;
    margin-top: -1.7%;
    background-color: green;    
    
}

button{
    padding: 2% 3% 2% 3%;
    border-radius: 50px;
    border-color: transparent;
    font-family: 'Roboto Flex', sans-serif;
    color:white;
    margin-top: -1.7%;
    background-color: green;    
    
}