<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        
        <meta name="description" content="Les recettes de Magic Laila et les video de cuisine">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <title>Magic Laila</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
        <link rel="icon" href="../images/photos/favicon.ico">
        <link rel="stylesheet" href="../static/recipe.css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <input type="checkbox" id="toggle">
        
        <nav>
            
            <div id="lailaPhotoLogoContainer">
                            <img src="../images/lailaSm.png" loading="lazy" alt="laila profile photo" id="lailaPhotoSm">
                            <div id="logo">
                                MAGIC LAILA
                            </div>

            </div>
           
            
            <label class="navbar-toggler" for="toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </label>
            
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/recipes">Recettes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/videos">Videos</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link">Ateliers</a>
                </li>-->
                <li class="nav-item">
                    <a href="mailto:laila.aksen@gmail.com?subject=Email subject&body=Email body" class="nav-link">Contact</a>
                </li>
                
            </ul>
            
            <div class="secondMenu">
                <!--
                    <li><a id="langLink" href="https://www.magiclaila.com/eng">English</a></li>-->
                    <button id="loginButton" onclick="openLoginForm()">Connexion</button>

            </div>
            
        </nav>
        
        
        <div id="mainLanding">
            
            <div id="lailaPhotoLogoContainerSM">
                            <div id="logoSM">
                                MAGIC LAILA
                            </div>
                            <img src="../images/lailaSm.png" loading="lazy" alt="laila small photo" id="lailaPhotoSmSM">
                            

            </div>
            
            
            
            <div id="mainContentMenu">
               <div id="mainInnerContainer2">
                    <div id="mottoContainer">
                        Je cuisine selon my mood
                    </div>   
                       
                    <div id="trioFilterContainer">
                            <form method="POST" action="{{ url_for('recipes') }}">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                     {{ form.color() }}
                                </div>
                                <div class="form-group">
                                    {{ form.energy() }}
                                </div>
                                <div class="form-group">
                                    {{ form.situation() }}
                                </div>
                                <br><br>
                               <button type="submit" id="filterButton">Filtrer</button>
                            </form>
                           
                    </div>
                </div>
                <div id="mainInnerContainer"> 
                    <div class="sectionTitle">Recettes</div>
                    <div class="searchBar">
                        <form id="searchForm" action="/recipes" method="get">
                            <label for="search" class="label">Search:</label>
                            <input type="text" id="search" name="search_query">
                            <button id="searchButton" type="submit">Recherche</button> 
                        </form>
                    </div>
                    
                    
               </div>
            </div>
            
            
            
    
            <div id="mainContentContainer">
                
                    <div id="leftFilterContainer">
                        <form class="mainFilterForm" method="GET" action="{{ url_for('recipes') }}">
                            <a href="{{ url_for('recipes', main_filter='aperitif') }}" class="leftFilter {% if main_filter == 'aperitif' %}active{% endif %}" id="leftFirstFilterFirst">Apéritif</a>
                             <a href="{{ url_for('recipes', main_filter='petit-déjeuner') }}" class="leftFilter {% if main_filter == 'petit-déjeuner' %}active{% endif %}" id="leftFirstFilterSecond">Petit-déjeuner</a>
                            <a href="{{ url_for('recipes', main_filter='entree') }}" class="leftFilter {% if main_filter == 'entree' %}active{% endif %}" id="leftSecondFilter">Entrée</a>
                            <a href="{{ url_for('recipes', main_filter='plat_principal') }}" class="leftFilter {% if main_filter == 'plat_principal' %}active{% endif %}" id="leftThirdFilter">Plat principal</a>
                            <a href="{{ url_for('recipes', main_filter='légume') }}" class="leftFilter {% if main_filter == 'légume' %}active{% endif %}" id="leftFourthFilter">Légume</a>
                            <a href="{{ url_for('recipes', main_filter='dessert') }}" class="leftFilter {% if main_filter == 'dessert' %}active{% endif %}" id="leftFifthFilter">Dessert</a>
                            <a href="{{ url_for('recipes', main_filter='fruit') }}" class="leftFilter {% if main_filter == 'fruit' %}active{% endif %}" id="leftSixthFilter">Fruit</a>
                            <a href="{{ url_for('recipes', main_filter='boisson') }}" class="leftFilter {% if main_filter == 'boisson' %}active{% endif %}" id="leftSeventhFilter">Boisson</a>
                        </form>
                    </div>
                    
                    
                    <div id="leftFilterContainerContainer">
                        <div id="leftFilterContainerSM">
                            <form class="mainFilterFormSM" method="GET" action="{{ url_for('recipes') }}">
                                
                                <div id="firstGroupFilterSM">
                                    <a href="{{ url_for('recipes', main_filter='aperitif') }}" class="leftFilterSM {% if main_filter == 'aperitif' %}active{% endif %}" id="leftFirstFilterSm">Apéritif</a>
                                    <a href="{{ url_for('recipes', main_filter='petit-déjeuner') }}" class="leftFilterSM {% if main_filter == 'petit-déjeuner' %}active{% endif %}" id="leftSecondFilterSm">Petit-déjeuner</a>
                                    <a href="{{ url_for('recipes', main_filter='entree') }}" class="leftFilterSM {% if main_filter == 'entree' %}active{% endif %}" id="leftThirdFilterSm">Entrée</a>
                                    <a href="{{ url_for('recipes', main_filter='plat_principal') }}" class="leftFilterSM {% if main_filter == 'plat_principal' %}active{% endif %}" id="leftFourthFilterSm">Plat principal</a>
                                </div>
                                <div id="secondGroupFilterSM">
                                    <a href="{{ url_for('recipes', main_filter='légume') }}" class="leftFilterSM {% if main_filter == 'légume' %}active{% endif %}" id="leftFifthFilterSm">Légume</a>
                                    <a href="{{ url_for('recipes', main_filter='dessert') }}" class="leftFilterSM {% if main_filter == 'dessert' %}active{% endif %}" id="leftSixthFilterSm">Dessert</a>
                                    <a href="{{ url_for('recipes', main_filter='fruit') }}" class="leftFilterSM {% if main_filter == 'fruit' %}active{% endif %}" id="leftSeventhFilterSm">Fruit</a>
                                    <a href="{{ url_for('recipes', main_filter='boisson') }}" class="leftFilterSM {% if main_filter == 'boisson' %}active{% endif %}" id="leftEigthFilterSm">Boisson</a>
                                </div>
                            </form>
                        </div>
                    </div>
               
                    <div id="containersContainer">
                        <div id="titleContainer">
                                
                                <div id="nameContainer">
                                 {{ recipe.name }} 
                                </div>
        
                                <div id="tagsContainer">
                                    Temps de préparation : {{ recipe.prepTime }} minutes
                                </div>
                                
                                <div id="wandContainer">
                                    <img id="wand" alt="magic wand pic" loading="lazy" src="../static/images/wand.png">
                                </div>
                            

                        </div>
                        
                        <div id="photoLeftingredientsRightContainer">
                            
                            
                            
                            <div id="imgContainerItem">
                                <img class="imgItem" loading="lazy" src="../{{ recipe.img1 }}" alt="instructive images">
                            </div>
                            <div id="ingTitleIngListContainer">
                                <div id="ingredientsTitleContainer">
                                            Ingrédients : 
                                </div>
                                <div id="ingredientsListContainer" style="white-space: pre-line">
                                     {{ recipe.p2 }}
                                </div>

                                
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div id="leftRightContainerWrapper">
                            <div id="itemLeftContainer">
                        
                                <div id="textsContainerItem" style="white-space: pre-line">
                                        
                                        <div id="etapesTitleContainer">
                                            Etapes de la préparation
                                        </div> 
                                        
                                        <div class="smImages">
                                            <img class="smImages" loading="lazy" src="../{{ recipe.img2 }}" alt="instructive images">
                                        </div>
                                        <div id="etapesTextContainer" class="texts" style="white-space: pre-line">
                                            {{ recipe.p1 }}
                                        </div>
                                        
                                        <div class="smImages">
                                            <img class="smImages" loading="lazy" src="../{{ recipe.img3 }}" alt="instructive images">
                                        </div>
                                        
                                        <div id="titreFree" class="texts">
                                            {{ recipe.p3 }}
                                        </div>
                                        
                                        <div class="smImages">
                                            <img class="smImages" loading="lazy" src="../{{ recipe.img4 }}" alt="instructive images">
                                        </div>
                                        
                                        <div id="textFree" style="white-space: pre-line">
                                            {{ recipe.p4 }}
                                        </div>
                                        <div id="textFree" class="texts" style="white-space: pre-line">
                                            {{ recipe.p5 }}
                                        </div>
                                        
                                        <div id="vidSmWrapper">
                                        {{ recipe.p10Eng|safe }}
                                        </div>
                                </div>
                                
                            </div>
                        
                            
                            <div id="itemRightContainer">
                            
                            
                                <div id="imgContainerItem2">
                                   
                                   <img class="imgItem" loading="lazy" src="../{{ recipe.img2 }}">
                                   <img class="imgItem"  loading="lazy" src="../{{ recipe.img3 }}">
                                   <img class="imgItem"  loading="lazy" src="../{{ recipe.img4 }}">
                                   <div id="vidWrapper">
                                    {{ recipe.p10Eng|safe }}
                                </div>
                               
                            </div>    
                                
                            
                        </div>
                            
                        </div>

                       
                    </div> 
                
                 
        

            </div>
        
        </div>
        
               <div id="footer">
            <a href="https://www.instagram.com/cooking_with_the_farahs/" class="socialHref" target="_blank">
              <img class="socialImages" alt="youtube link" loading="lazy" src="/images/social/insta.png">
            </a>
            <a href="https://www.youtube.com/@cookingwiththefarahs2537" class="socialHref" target="_blank">
                <img class="socialImages" alt="instagram link" loading="lazy" src="/images/social/youtube.png">
            </a>
        </div>
        
        <div id="signature">
                <a href="https://portfolio.akarsuu.com" target="_blank">Design & Development akarsuu</a>
        </div>
        
        <script>
            function openLoginForm() {
                  window.open('/login', '_blank', 'height=350,width=350');
                }

        </script>
   
        <script>
            // Get meal filter buttons
            const filterButtons = document.querySelectorAll('.mainFilterForm .leftFilter');
            
            // Add click event to each button
            filterButtons.forEach(button => {
              button.addEventListener('click', function() {
                // Remove active class from all buttons
                filterButtons.forEach(btn => btn.classList.remove('active'));
                // Add active class to the clicked button
                this.classList.add('active');
              });
            });
        </script>
        
        <script>
        // add active class the keep link bc color 
        const navLinks = document.querySelectorAll('.nav-link');

        // Add click event listener to each navigation link
        navLinks.forEach((link) => {
          link.addEventListener('click', function(event) {
            // Remove active class from all links
            navLinks.forEach((link) => {
              link.classList.remove('active');
            });
        
            // Add active class to the clicked link
            this.classList.add('active');
          });
        });
       </script>
    
    </body>


</html>